*.ipr
*.iws
.classpath
.project
.settings
.sonar
*.log
*.log.gz
tmp/

.idea
*.iml

.idea/*/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

target
/out
/site
atlassian-ide-plugin.xml
dependency-reduced-pom.xml
